/* Scoped Reset CSS */
.custom-form-page *,
.custom-form-page *:before,
.custom-form-page *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body Styles */
.custom-form-page .main-form {
    font-family: 'Poppins', sans-serif;
    background-image: url("images/Backgroundimg.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form Styles */
.custom-form-page form {
    max-width: 90%;
    background-color: rgba(32, 2, 2, 0.13);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    border: 2px solid rgba(15, 1, 1, 0.1);
    box-shadow: 0 0 50px beige;
    padding: 5% 3%;
    text-align: center;
}

/* Form Element Styles */
.custom-form-page form * {
    color: beige;
    outline: none;
}

.custom-form-page form h3 {
    color: beige;
    font-size: 2em;
    font-weight: 500;
    line-height: 1.5;
}

.custom-form-page label {
    color: beige;
    display: block;
    margin-top: 2vh;
    font-size: 1.2em;
    font-weight: 500;
    visibility: hidden;
}

.custom-form-page #noAcct {
    visibility: visible;
}

.custom-form-page #noAcct a {
    color: rgb(224, 224, 158);
}

.custom-form-page input {
    height: 6vh;
    width: 100%;
    background-color: transparent;
    border-radius: 25px;
    padding: 0 20px;
    margin-top: 1vh;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid black;
    box-shadow: 0 0 3px beige;
}

.custom-form-page #password-container {
    position: relative;
}

.custom-form-page #eye-img {
    width: 25px;
    border-radius: 50%;
}

.custom-form-page #eye-button {
    position: absolute;
    background: transparent;
    padding: 0;
    width: fit-content;
    height: max-content;
    transform: translate(-150%, -56%);
    border-radius: 100%;
    border: none;
    padding-top: 2.9%;
}

.custom-form-page ::placeholder {
    color: #e5e5e5;
}

.custom-form-page button {
    margin-top: 4vh;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #080710;
    padding: 1.5vh 0;
    font-size: 1em;
    font-weight: 600;
    border-radius: 20vh;
    cursor: pointer;
    border: 1px solid black;
    margin-bottom: 2vh;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
}

.custom-form-page button:hover {
    background-color: rgba(0, 73, 83, 0.7);
    color: #ffffff;
    border: 2px solid white;
}

.custom-form-page .footer-last-text {
    background-color: #E3E6F3;
    padding: 20px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .custom-form-page form {
        width: 55%;
    }

    .custom-form-page form h3 {
        font-size: 1.5em;
    }

    .custom-form-page label {
        font-size: 1em;
    }

    .custom-form-page input {
        height: 40px;
        font-size: 0.9em;
    }

    .custom-form-page button {
        margin-top: 4vh;
        font-size: 1em;
    }
}

.custom-form-page img {
    height: 1.7em;
    margin-top: 10%;
    margin-left: 10%;
    transition: transform 0.3s ease-in-out;
}

.custom-form-page img:hover {
    transform: rotate(360deg);
}
